table {
    width: 100%;
  }

  
.tr-width{
  width : 3.5em;
  padding-right: 12px;
 }

 
.spaceAroundFlex{
  display: flex;
  justify-content: space-around;
}

.centreFlex{
  display: flex;
  justify-content: center;
}



.warning{
    color: red;
}

.margin5{
  padding:5px;
}